<h1>DBZ personajes</h1>

<hr>


<div class="row">
  <div class="col">
    <dbz-list [characterList]="characters" (onDeleteCharacter)="onDeleteCharacter($event)"
      (onEditCharacter)="onEditCharacter($event)"></dbz-list>
  </div>

  <div class="col">
    <dbz-add-character (onNewCharacter)="onNewCharacter($event)" *ngIf="!isEdit; else componentToEdit"></dbz-add-character>

    <ng-template #componentToEdit>
      <dbz-edit-character [character]="characterEdit" (emitUpdateCharacter)="onEmitUpdateCharacter($event)"></dbz-edit-character>
    </ng-template>
  </div>
</div>
